.matrix_table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
}

.new_button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.delete-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    background-color: #f44336;
    margin-left: 10px; /* Ajusta el margen izquierdo del botón */
}

.delete-button:hover {
    background-color: #d32f2f;
} 